/* DESKTOP FIRST */


.liquorsDiv {
    position: relative;
    top: 3em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    padding: 30px 0px 100px;
    gap: 1em;
    justify-content: center;
    background-color: var(--rtc--color-almostblack);
 
}



/* MEDIA QUERIES */


@media (max-width: 480px) {

    .liquorsDiv {
        top: 1em;
        gap: 0.5em; 
    }

}


@media (min-width: 481px) and (max-width: 768px) {

    .liquorsDiv {
        top: 2em;
        gap: 0.5em; 
    }
}


@media (min-width: 769px) and (max-width: 1024px) {

    .liquorsDiv {
        top: 2em;
        gap: 0.8em; 
    }

    .cocktailCard {
        flex-basis: 30%;
        padding: 10px;
    }
}


@media (min-width: 1025px) and (max-width: 1280px) {

    .liquorsDiv {
        top: 2em;
        gap: 1em; 
    }
    
}


@media (min-width: 1281px) and (max-width: 1440px) {

    .liquorsDiv {
        top: 3em;
        gap: 1.5em; 
    }
}


@media (min-width: 1921px) {

    .liquorsDiv {
        top: 3em;
        gap: 1.8em; 
    }
}

