
.showAlphabet {
    display: flex;
    justify-content: center;
    width: 400px;
    height: auto;
    color: white;
    background-color: var( --rtc--color-petroleoblue);
    font-family: var(--rtc--font-familiy-ultima);
    font-size: 12px;
    border-radius: 5px;
    border: none;
    padding: 12px;
    z-index: 20;
}

@media (max-width: 480px) {

    .showAlphabet {
        position: relative;
        top: 0;
        width: 130px;
        font-size: 10px;
    }
}


@media (min-width: 481px) and (max-width: 768px) {
     
    .showAlphabet {
        position: relative;
        bottom: 1em;
        width: 140px;    
    }
}


@media (min-width: 769px) and (max-width: 1024px)  {

    .showAlphabet {
        position: relative;
        top: 0;
        width: 200px;
        font-size: 14px;
        padding: 12px;
      
    }

}

@media (min-width: 1025px) and (max-width: 1280px) {

    .showAlphabet {
        position: relative;
        top: 0;
        width: 260px;
        font-size: 14px;
        padding: 12px;
      
    }

}

@media (min-width: 1281px) and (max-width: 1440px) {

    .showAlphabet {
        position: relative;
        top: 0;
        width: 300px;
        font-size: 14px;
        padding: 12px;
      
    }

}

@media  (min-width: 1921px) {

    .showAlphabet {
        position: relative;
        top: 0;
        width: 300px;
        font-size: 18px;
        padding: 12px;
      
    }

}