/* DESKTOP FIRST */

.homeDiv {
    display: flex;
    width: 100%;
    height: 70svh;
}

.coverImage {
    position: relative;
    top: 0em;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 5px solid var(--rtc--color-darkgreen);
}






/* MEDIA QUERIES */


@media (max-width: 480px) {

    .homeDiv {
        display: flex;
        width: 100%;
        height: 67svh;
    } 

    .coverImage {
        object-fit: cover;
        width: 100%;
        height: 100%;
        
    }
}

@media (min-width: 481px) and (max-width: 768px) {

    .homeDiv {
        display: flex;
        width: 100%;
        height: 67svh;
    }
   
}

@media (min-width: 769px) and (max-width: 1024px) {

    .homeDiv {
        display: flex;
        width: 100%;
        height: 65svh;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    .homeDiv {
        display: flex;
        width: 100%;
        height: 70svh;
    }
    
}

@media (min-width: 1281px) and (max-width: 1440px) {

    .homeDiv {
        display: flex;
        width: 100%;
    }  
}
