@font-face {
    font-family: 'ultima';
    src: url('/public/assets/fonts/ultima_pd/UltimaPDbc-UltraLightSmallC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'lanear';
  src: url('/public/assets/fonts/ultima_pd/LANENAR_.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

  
a {
  text-decoration: none;
}

h1, p {
  color: var(--rtc--color-almostwhite);
}

h2, h3, span, a {
  font-family: var(--rtc--font-family-ultima);
}

h2 {
  color: var(--rtc--color-supersoftpink);
}

p {
  font-family: var(--rtc--font-family-lanear);
  font-weight: 100;
}

